venv
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
venv/
.venv/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyCharm project files
.idea/

# VSCode workspace
.vscode/

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.swo
*.bak

# Test coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# MyPy cache
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Profiling data
.prof

# Other IDEs and editors
*.sublime-workspace
*.sublime-project